<!doctype html>
<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<link rel="stylesheet" href="/resources/demos/style.css">
	<link rel="stylesheet" type="text/css" href="{% static 'graphs/style.css' %}" />
</head>
<body>
	
	<h1>This is NK-network of living cell genetic regulation. What are N and K?</h1>
	<form action ="{% url 'build' %}" method="post">
		{% csrf_token %}
		<p>N = <span id="nValue"></span> <div id="nSlider"></div></p>
		<p>K = <span id="kValue"></span> <div id="kSlider"></div></p>
		<input id="nInput" type="hidden" value="" name="nValue">
		<input id="kInput" type="hidden" value="" name="kValue">
		<input type="submit" value="Build random genetic network">
	</form>

	<table class="img_table">
	<tbody>
		<tr>
			<td class="img_table_cell">
				<a href="{% static 'graphs/images/tempGeneLinksGraph.png' %}"><img  src="{% static 'graphs/images/tempGeneLinksGraph.png' %}"></a>
				<div>Genes` links network</div>
			</td>
			<td class="img_table_cell">
				<a href="{% static 'graphs/images/tempStatesGraph.png' %}"><img  src="{% static 'graphs/images/tempStatesGraph.png' %}"></a>
				<div>Cell states graph</div>
			</td>
			<td class="img_table_cell">
				<a href="{% static 'graphs/images/tempSiplifiedStatesGraph.png' %}"><img src="{% static 'graphs/images/tempSiplifiedStatesGraph.png' %}"></a>
				<div>Simplified cell states graph (in what way?)</div>
			</td>
		</tr>
	</tbody>
	</table>


	<script>
		$(document).ready(function(){
			var minValue = 1;
			var maxValue = 10;
			var defaultValue=5;
			$( "#nSlider" ).slider({ min: minValue, max:maxValue,value: defaultValue });
    		$( "#kSlider" ).slider({ min: minValue, max:maxValue,value: defaultValue });
    		$("#nValue").html(defaultValue);
    		$("#kValue").html(defaultValue);
    		$("#nInput").attr("value",defaultValue);
    		$("#kInput").attr("value",defaultValue);

		});

		$( "#nSlider" ).on( "slide", function( event, ui ) {
			$("#nValue").html(ui.value);
			$("#nInput").attr("value",ui.value);
			if (ui.value < $( "#kSlider" ).slider( "value" )){
				$( "#kSlider" ).slider( "value", ui.value );
				$( "#kValue" ).html(ui.value);
    			$( "#kInput" ).attr("value",ui.value);
			}
				
		});

		$( "#kSlider" ).on( "slide", function( event, ui ) {
			$("#kValue").html(ui.value);
			$("#kInput").attr("value",ui.value);
			if (ui.value > $( "#nSlider" ).slider( "value" )){
				$( "#nSlider" ).slider( "value", ui.value );
				$( "#nValue" ).html(ui.value);
				$( "#nInput" ).attr("value",ui.value);
    		}
				
		});

	</script>	
</body>
</html>